<!-- 插件官网地址：http://ruby-china.org/topics/17028 -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>markdownToc</title>
        <link rel="stylesheet" type="text/css" href="./markdownToc_files/github2-rightpart.css" media="all">
        <link rel="stylesheet" type="text/css" href="./markdownToc_files/github1-contents.css">
        <link rel="stylesheet" href="./markdownToc_files/zTreeStyle.css" type="text/css">
        <style>
            .ztree li a.curSelectedNode {
                padding-top: 0px;
                background-color: #FFE6B0;
                color: black;
                height: 16px;
                border: 1px #FFB951 solid;
                opacity: 0.8;
            }
            .ztree{
                overflow: auto;
                height:100%;
                min-height: 200px;
                top: 0px;
            }
        </style>
    </head>
    <body style="">
        <div>
            <div style="width:30%;">
                <ul id="tree" class="ztree" style="width: 260px; overflow: auto; position: fixed; z-index: 2147483647; border: 0px none; left: 0px; bottom: 0px;">
                <!-- 目录内容在网页另存为之后将插入到此处 -->
                </ul>
            </div>
            <div id="readme" style="width:70%;margin-left:25%;">
                <article class="markdown-body">


<!-- ***********************************************************内容分割线****************************************************************** -->
<!-- 请把你的html正文部分粘贴到此处，在浏览器中打开之后将会自动生成目录。如果想要将目录保留并嵌入到此文档中，只需在浏览器中“另存为->网页，全部”即可 -->
<h1>school<em>service</em>api</h1>
<p>校园服务API 说明</p>
<h2>请求七牛获取上传令牌 API</h2>
<blockquote>
<p>GET: localhost:8080/upload_token</p>
</blockquote>
<p>返回值：K8WWlWVTd6-p4WzoIh0IygahkTXgy2dztQVD1Tpk:6Jqlv1acNfKDYI8r1WIzs1WNQDE=:eyJzY29wZSI6InNjaG9vbHdhbGwiLCJkZWFkbGluZSI6MTU0ODc0NDA4MH0=</p>
<h2>#获取用户信息和微信返回的openid API</h2>
<h3>1 返回session_key 和 openid</h3>
<blockquote>
<p>GET： localhost:8080/wxlogin/{code}</p>
</blockquote>
<p>参数：code</p>
<p>返回值：{&quot;session&quot;:&quot;XXX&quot;,&quot;openid&quot;:&quot;XXXXX&quot;}</p>
<h3>2 查询此用户是否授权</h3>
<blockquote>
<p>GET： localhost:8080/ishasUser/{openid}</p>
</blockquote>
<p>参数：openid</p>
<p>返回值：{&quot;result&quot;:true/false}</p>
<h3>3 授权此用户</h3>
<blockquote>
<p>Post： localhost:8080/authorizeUser</p>
</blockquote>
<p>参数:openid、nickname、avatarurl、province、city、gender，获取到用户信息封装到data 数据域里 格式</p>
<pre><code>{&quot;openid&quot;：&quot;CCC&quot;,
 &quot;nickname&quot;:&quot;XXXX&quot;,
&quot;avatarurl&quot;:&quot;DDDD&quot;,
&quot;province&quot;:&quot;sssss&quot;,
&quot;city&quot;:&quot;DDD&quot;,
&quot;gender&quot;:1
}
</code></pre>

<p>返回值：{&quot;result&quot;:true/false}</p>
<h3>4 查询用户信息</h3>
<blockquote>
<p>GET： localhost:8080/userinfo?openid=xxxx</p>
</blockquote>
<p>参数： openid</p>
<p>返回值:</p>
<pre><code>{
&quot;id&quot;: 2,
&quot;openid&quot;: &quot;oBjXq0JoFULN4P4wHXt_mYzI8AMg&quot;,
&quot;nickname&quot;: &quot;漠然&quot;,
&quot;avatarurl&quot;: &quot;https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLeSJU2zvIXrLF9TJfz0VUSic9kxJ8LHKuyeKHL6EeSS4afmjSUiaianvhf7sBt7531qElssKWlsx5MA/132&quot;,
&quot;province&quot;: &quot;宁夏&quot;,
&quot;city&quot;: &quot;银川&quot;,
&quot;gender&quot;: 1
}
</code></pre>

<h2>表白墙相关 API</h2>
<h3>1 分页查询表白墙信息</h3>
<blockquote>
<p>GET : localhost:8080/conf/confessionDataList?openid=XXX&amp;page=X&amp;pageSize=XX</p>
</blockquote>
<p>参数：openid、page、pageSize</p>
<p>返回值：</p>
<pre><code>[{
&quot;id&quot;: &quot;70e529fd-f92d-11e8-b496-525400f4c464&quot;,
&quot;content&quot;: &quot;我常常想我是幸运的，在慌张彷徨的年华里，总能遇到一群志和道同的朋友， 我常常也想我一定是这世界上最不幸的，苍狗白云，白驹过隙间，我又总是与他们流离失散。 ​​​&quot;,
&quot;time&quot;: &quot;2019/01/28&quot;,
&quot;likedCount&quot;: 2,
&quot;liked&quot;: 0,
&quot;stateNiming&quot;: 1,
&quot;user&quot;: {
    &quot;avatar&quot;: &quot;https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIZNXcA9x76UOORpEicUTUFCqZiat6mfh7e6R4jVaKJqZTYOicS0icUYQ9oxqYRibW4zKj5Qq0DibPowgUA/132&quot;,
    &quot;touser&quot;: &quot;222&quot;,
    &quot;fromuser&quot;: &quot;我叫胡颜德&quot;,
    &quot;userId&quot;: &quot;oBjXq0LC0fNVc74SoTZTYj7OSMKc&quot;,
    &quot;sex&quot;: 1
},
&quot;image&quot;: &quot;http://zwxq.qiqibl.com/tmp_5f9195e2ea66c50deb6cf9ed9f435f0b.jpg&quot;
}, {
&quot;id&quot;: &quot;ce31bc14-0f7e-11e9-b4a9-525400f4c464&quot;,
&quot;content&quot;: &quot;虽然你拒绝了我 但我依旧等你 喜欢一个人 真的会中毒的&quot;,
&quot;time&quot;: &quot;2019/01/28&quot;,
&quot;likedCount&quot;: 3,
&quot;liked&quot;: 1,
&quot;stateNiming&quot;: 1,
&quot;user&quot;: {
    &quot;avatar&quot;: &quot;https://wx.qlogo.cn/mmopen/vi_32/icjdyu7IemU9GTMdI9POUm7ic0mNqhACv15reuWruJpVaUeGdwb7oBziaRhTBKAUvia1t3GjSbyQYUUvlubVpEwLFQ/132&quot;,
    &quot;touser&quot;: &quot;18汉语言小姐姐&quot;,
    &quot;fromuser&quot;: &quot;ssss&quot;,
    &quot;userId&quot;: &quot;oBjXq0K--hdqNF3w0fpvfbNWHiY4&quot;,
    &quot;sex&quot;: 0
},
&quot;image&quot;: &quot;&quot;
}]
</code></pre>

<h3>2 新增信息</h3>
<p>POST：localhost:8080/conf/addConf
参数: content、image、stateNiming、touser、fromuser、openid</p>
<pre><code>data:{&quot;content&quot;:&quot;XXXXX&quot;,
        ....
    }
</code></pre>

<p>返回值</p>
<pre><code>{&quot;data&quot;:1,&quot;other&quot;:&quot;Add confession&quot;,&quot;message&quot;:&quot;Add confession success&quot;}
</code></pre>

<h3>3 点赞处理</h3>
<blockquote>
<p>GET ：localhost:8080/conf/tapLike?confid=XX&amp;openid=XXX&amp;likedstate=XXX</p>
</blockquote>
<p>参数：confid 、openid、likestate(点赞状态 0 1)</p>
<p>返回值：</p>
<pre><code>{&quot;likedstate&quot;:false,&quot;likecount&quot;:-1}
{&quot;likedstate&quot;:true,&quot;likecount&quot;:1}
</code></pre>

<h3>4 查看留言</h3>
<blockquote>
<p>GET： localhost:8080/conf/confMessages?confid=XX&amp;page=XXX&amp;pageSize=XXX</p>
</blockquote>
<p>参数：confid、page、pageSize</p>
<p>返回值：</p>
<pre><code>{
&quot;data&quot;: [{
    &quot;openid&quot;: &quot;oBjXq0JoFULN4P4wHXt_mYzI8AMg&quot;,
    &quot;avatarurl&quot;: &quot;https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLeSJU2zvIXrLF9TJfz0VUSic9kxJ8LHKuyeKHL6EeSS4afmjSUiaianvhf7sBt7531qElssKWlsx5MA/132&quot;,
    &quot;nickname&quot;: &quot;漠然&quot;,
    &quot;message&quot;: &quot;fdfdsf&quot;,
    &quot;cratetime&quot;: &quot;01-29&quot;
}, {
    &quot;openid&quot;: &quot;oBjXq0JoFULN4P4wHXt_mYzI8AMg&quot;,
    &quot;avatarurl&quot;: &quot;https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLeSJU2zvIXrLF9TJfz0VUSic9kxJ8LHKuyeKHL6EeSS4afmjSUiaianvhf7sBt7531qElssKWlsx5MA/132&quot;,
    &quot;nickname&quot;: &quot;漠然&quot;,
    &quot;message&quot;: &quot;dffds&quot;,
    &quot;cratetime&quot;: &quot;01-29&quot;
}, {
    &quot;openid&quot;: &quot;oBjXq0CMC9JgKVd44tUjBgtOiMfE&quot;,
    &quot;avatarurl&quot;: &quot;https://wx.qlogo.cn/mmopen/vi_32/7fGlqgcudKkFrCiauWicFkKAib1UtHOQHxsDSxekIvCv6MVvMKhgYnicIjmS7oYmccDyV6cPibMGjK29DvSeeh10Oog/132&quot;,
    &quot;nickname&quot;: &quot;昵称&quot;,
    &quot;message&quot;: &quot;dsdsdsddd&quot;,
    &quot;cratetime&quot;: &quot;01-28&quot;
}],
&quot;other&quot;: 3, #数量
&quot;message&quot;: &quot;confession message list&quot;
}
</code></pre>

<h3>5 新增留言</h3>
<p>POST： localhost：8080/conf/addMessage
参数：confid，openid，message</p>
<pre><code>data:{&quot;confid&quot;:&quot;XXX&quot;,&quot;openid&quot;:&quot;ddddd&quot;,&quot;message&quot;:&quot;XXXSS&quot;}
</code></pre>

<p>返回值 </p>
<pre><code>{&quot;data&quot;:1,&quot;other&quot;:&quot;add message&quot;,&quot;message&quot;:&quot;Add message success&quot;}
</code></pre>

<h2>2 吐槽墙相关 API</h2>
<h3>1 吐槽列表</h3>
<p>Get：http://localhost:8080/roast/roastList?openid=1111&amp;page=1&amp;pagesize=3 </p>
<p>参数：openid、page（当前第几页）、pagesize（每页显示的条数）</p>
<p>返回值</p>
<pre><code>[{
&quot;id&quot;: 2,
&quot;content&quot;: &quot;的官方大哥发的刚发的&quot;,
&quot;backgroupcolor&quot;: 1,
&quot;likeCount&quot;: 0,
&quot;liked&quot;: 1,
&quot;createtime&quot;: &quot;2019/02/15&quot;
}, {
&quot;id&quot;: 1,
&quot;content&quot;: &quot;发的发的是范德萨范德萨&quot;,
&quot;backgroupcolor&quot;: 1,
&quot;likeCount&quot;: 10,
&quot;liked&quot;: 0,
&quot;createtime&quot;: &quot;2019/02/15&quot;
}]
</code></pre>

<h3>2 吐槽点赞</h3>
<p>GET：localhost:8080/roast/tabLike?roastId=1&amp;openid=oBjXq0IuOhzNIBMrES2DWccz-jmM&amp;likedstate=1</p>
<p>参数：roastId 吐槽信息id、openid 用户唯一标示、likedstate 点赞状态 （0 未点赞、1 已点赞）</p>
<p>返回值：</p>
<pre><code>{&quot;likedstate&quot;:0,&quot;likecount&quot;:-1}
{&quot;likedstate&quot;:1,&quot;likecount&quot;:1}
</code></pre>

<h3>3 吐槽留言列表</h3>
<p>Get:localhost:8080/roast/roastMessages?roastId=1&amp;page=1&amp;pagesize=5</p>
<p>参数:roastId 吐槽信息id、page 当前第几页、pagesize 每页显示条数</p>
<p>返回值</p>
<pre><code>{
&quot;data&quot;: [
    {
        &quot;openid&quot;: &quot;oBjXq0JoFULN4P4wHXt_mdsdsds&quot;,
        &quot;message&quot;: &quot;dads&quot;,
        &quot;createtime&quot;: &quot;02-15&quot;
    },
    {
        &quot;openid&quot;: &quot;oBjXq0JoFULN4P4wHXt_mYzI8AMg&quot;,
        &quot;message&quot;: &quot;大萨达撒多&quot;,
        &quot;createtime&quot;: &quot;02-15&quot;
    }
],
&quot;other&quot;: 2,
&quot;message&quot;: &quot;roast message list&quot;
}
</code></pre>

<h3>4 添加吐槽留言</h3>
<p>Post:localhost:8080/roast/addroastMessage</p>
<p>参数</p>
<pre><code>data:{&quot;roastid&quot;:22,&quot;openid&quot;:&quot;XXXX&quot;,&quot;message&quot;:&quot;XXXSS&quot;}
</code></pre>

<p>返回值</p>
<pre><code>{&quot;data&quot;:1,&quot;other&quot;:&quot;add roast message&quot;,&quot;message&quot;:&quot;Add roast message success&quot;}
</code></pre>

<h2>个人中心</h2>

<!-- ***********************************************************内容分割线****************************************************************** -->

                </article>
            </div>
        </div>
    <script src="./markdownToc_files/jquery-1.10.2.min.js"></script>
    <script src="./markdownToc_files/jquery.ztree.all-3.5.min.js"></script>
    <script src="./markdownToc_files/jquery.ztree_toc.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#tree').ztree_toc({
                is_auto_number:false,
                documment_selector:'.markdown-body',
                is_expand_all: true
            });
        });
    </script>
    </body>
</html>